/* welcome*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;  
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}
.welcome-content {
    padding: 165px 0 230px;
    text-align: center;
    color: #fff;
}

.welcome-content__text {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 72px;
    margin-bottom: 60px;
}

.welcome-content__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 150px;
    line-height: 140px;
    text-transform: uppercase;
    margin-bottom: 125px;
}

.welcome-content__button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 12px 30px;
    transition: all.2s linear;
}

.welcome-content__button:hover {
    box-shadow: rgb(212, 122, 69)  3px 3px 15px;
}

/* /welcome */