/* Who_we_are */
.meet {
    padding-top: 95px;
    margin-bottom: 85px;
}

.meet__description {
    max-width: 980px;
    margin: 0 auto 95px;
    text-align: center;
    line-height: 24px;
    color: #999;
}

.team-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.team-list__item {
    flex-basis: 380px;
    list-style: none;
    position: relative;
    transition: all.2s linear;
}

.team-list__photo {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    font-size: 0;
    margin-bottom: 30px;
}

.team-list__photo::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    top: 0;
    left: 0;
}

.team-list__photo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(252,227,138,1) 0%, rgba(243,129,129,0.896796218487395) 100%);
    opacity: 0;
    transition: all.2s linear;
}

.team-list___img {
    transition: all.2s linear; 
}

.team-list__item:hover .team-list___img {
    transform: translate(-10px, -10px);
}

.team-list__item:hover .team-list__photo::after {
    opacity: 1;
    transform: translate(-10px, -10px);
}

.social-list {
    display: flex;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.social-list__item {
    list-style: none;
}

.social-list__link {
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color .2s linear, opacity .2s linear;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list__item:not(:last-child) .social-list__link {
    border-right: 1px solid var(--main-hover-color);
}

.social-list__svg {
    fill: var(--main-hover-color);
}

.social-list__link:hover {
    background-color: var(--main-hover-color);
}

.social-list__link:hover .social-list__svg {
    fill: #fff;
}

.team-list__item:hover .social-list__link {
opacity: 1;
}

.team-content {
    text-align: center;
}

.team-content__title {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.team-content__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #999;
}
/* /Who_we_are */